<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Birthday Facts</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="/public/style/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <div id="page-container">
    <div id="content-container" ng-controller="BirthdayController as birthday">
      <h1 id="content-header">Birthday Fact Generator</h1>
      <div id="birthday-form">
        <input type="string" name="birthday" id="birthday-entry" class="form-element" ng-model="birthday.entry" ng-click="birthday.clearFact()">
        <button id="submit-button" class="form-element" ng-click="birthday.inquiry()">Get Fact</button>
      </div> <!-- birthday-form -->
      <p id="birthday-intro">Congrats on making it {{birthday.age}} years! Here's a fun fact about the day you were born:</p>
      <p id="birthday-fact" ng-show="birthday.fact">"{{birthday.fact}}"</p>
      <img id="loading-icon" src="/public/images/loading.gif" ng-show="birthday.loading">
    </div> <!-- content-container -->
  </div> <!-- page-container -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="/public/js/app.js"></script>
  <script src="/public/js/birthday_controller.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
